#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <14>;
        rows = <5>;
        map = <
             RC(0,1) RC(1,0) RC(2,0) RC(3,0) RC(4,0) RC(5,0) RC(6,1)        RC(13,8)  RC(12,7)  RC(11,7)  RC(10,7)  RC(9,7)  RC(8,7)  RC(7,8)
             RC(0,2) RC(1,2) RC(2,1) RC(3,1) RC(4,1) RC(5,1) RC(6,2)        RC(13,9)  RC(12,8)  RC(11,8)  RC(10,8)  RC(9,8)  RC(8,9)  RC(7,9)
             RC(0,3) RC(1,3) RC(2,3) RC(3,2) RC(4,2) RC(5,2) RC(6,3)        RC(13,10) RC(12,9)  RC(11,9)  RC(10,9)  RC(9,10) RC(8,10) RC(7,10)
             RC(0,4) RC(1,4) RC(2,4) RC(3,4) RC(4,3) RC(5,3) RC(6,4)        RC(13,11) RC(12,10) RC(11,10) RC(10,11) RC(9,11) RC(8,11) RC(7,11)
             RC(0,5) RC(1,5) RC(2,5) RC(3,5) RC(4,5) RC(5,4) RC(6,5)        RC(13,12) RC(12,11) RC(11,12) RC(10,12) RC(9,12) RC(8,12) RC(7,12)
        >;
    };

   kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;
        interrupt-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >;
    };

};